// Define variables for your color scheme

$orange: #FFBB55;
$blue: #04C4D9;
$dark-gray: #454C57;
$light-gray: #7C7C7C;
$white: #FEFEFD;

// For example:
$red: #FD1015;
// $blue: #167FFB;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

