
label {
cursor: pointer;
}

#new_goal_form {
  display: none;
}

#blog_template{
  display: none;
}

#dating_template{
    display: none;
}

#vacation_template{
display: none;
}

#marathon_template{
display: none;
}

  

// #milestones{
//   display:none;
// }

// #goal_form{
//   display: block;
// }
