<div class="justify-content-center text-center p-5" id="invite_friends">
    <h5 class= "pb-5">Invite friends to join SpotMe</h5>
        <textarea id="bar" style="display:none;"><%= request.original_url() %></textarea>
        <button class="btn btn-primary" id="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
            Copy invite link
        </button>
</div>
