<div class="d-flex align-items-center"><%= image_tag current_user.avatar_thumbnail, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> &nbsp<%= current_user.firstname %> &nbsp <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
