<div class="bottom_navbar_container fixed-bottom">
  <% if user_signed_in? %>
      <div class="navbar">
      <div class="nav-item d-flex">
        <%= link_to new_goal_path, class: "nav-link" do %>
          <i class="fas fa-bullseye" style="font-size: 48px; color: black" aria-hidden="true" target="blank"></i>
          <% end %>
        </div>
      <div class="nav-item d-flex" >
        <%= link_to goals_path, class: "nav-link" do %>
        <i class="fas fa-flag" style="font-size: 48px; color: black" aria-hidden="true" target="blank"></i>
        <% end %>
      </div>
      <div class="nav-item d-flex" >
        <%= link_to feeds_index_path, class: "nav-link" do %>
        <i class="fas fa-rss" style="font-size: 48px; color: black" aria-hidden="true" target="blank"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



