<div id="#completion_message_form">
<div class="modal fade" id="completion-<%=milestone.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Add a completion message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [milestone, @completion_message], remote: true do |f| %>
            <%= f.input :content, input_html: {value: f.object.content || 'I did it!'} %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>

      </div>

    </div>
  </div>
</div>
</div>
