

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit milestone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (milestone) do |f| %>
          <%= f.input :name %>
          <%= f.input :deadline, as: :date, html5: true %>
        <label class="weightage required" for="milestone_weightage">Weightage<abbr title="required">*</abbr></label>

          <div class="star-rating">
  <fieldset>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1"></label>
  </fieldset>
</div>
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!--
<% milestone.weightage.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - milestone.weightage).times do %>
      <i class="far fa-star"></i>
    <% end %>
 -->
