<div class="container">
  <h1>Let's get goaling!</h1>
  <%# <%= render partial: "shared/blog_goal_template", locals: {goal: @goal, milestone: @milestone} %> 
  <%= render partial: "shared/new_goal_form"%>
</div>
